.title {
    color: #fff;
    font-size: xx-large;
    margin: 0 5%;
    padding-top: 4%;
    padding-bottom: 4%;
    font-size: 60px;
}

.background {
    background-position: center;
    background-size: cover;
    padding-bottom: 10%;
}

.hawaii__img {
    background-image: url(../assets/images/hawaii.jpg);
}

.iceland__img {
    background-image: url(../assets/images/iceland.jpg);
}

.greece__img {
    background-image: url(../assets/images/greece.jpg);
}

.schedule {
    display: flex;
    justify-content: center;
    text-align: center;
}

.schedule__list--bold {
    border-bottom: black solid;
    font-weight: bold;
    color: black;
    margin-top: 0;
}

.schedule__list {
    list-style: none;
    padding-left: 0;
}


.schedule__list li {
    margin: 1.875rem 0;
    padding: 0.938rem;
    background-color: #FEFAF5;
    font-size:larger;
}

.friday {
    background-color: #FFFFFF;
    width: 19%;
    padding: 1.25rem;
    border: white solid 2px;
    border-radius: 5px
}

.saturday {
    background-color: #FFFFFF;
    width: 19%;
    margin: 0 40px;
    padding: 1.25rem;
    border: white solid 2px;
    border-radius: 5px
}

.sunday {
    background-color: #FFFFFF;
    width: 19%;
    padding: 1.25rem;
    border: white solid 2px;
    border-radius: 5px
}

