body {
    font-family: verdana;
    font-weight: 400;
    margin: 0;
}

h1 {
    color: #335576;
}

h2, h3 {
    color: #335576;
}
nav {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    background-color: #FFFFFF;
    width: 100%;
    position: sticky;
    top: 0;
}

nav h3 {
    margin-left: 5%;
}

.nav__guide {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding-right: 5%;
}

.nav__guide--link:hover {
    border-bottom: #DB7A4E 5px solid;
    padding-bottom: 0.313rem;
}

.nav__guide--link {
    text-decoration: none;
    color: black;
    font-size: medium;
    margin-right: 0.938rem;
}

/* footer */
footer {
    background-color: #fefaf5;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 40px 8%;
}

footer h2 {
    margin: 0;
}

footer h6 {
    font-weight: 400;
    color: #db7a4e;
    margin-bottom: 0;
}

footer p {
    color: #335576;
    font-weight: 600;
    font-size:small;
}

.footer__hour {
    display: flex;
    justify-content: space-between;
}

.footer__hour__sat {
    margin: auto 30px;
}

.footer__social {
    display: flex;
    justify-content: space-between;
}

.footer__social img {
    height: 30px;
    margin: 40px 35px 0px 0px;
}
