/* nav */
.nav__guide__home {
    border-bottom: #DB7A4E 5px solid;
    padding-bottom: 5px;
}

/* hero */
.hero {
    background-color: #fefaf5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero__content {
    margin-left: 5%;
    width: 43%;
}

.hero__content h1 {
    margin: 0%;
}

.hero__content h6 {
    font-size: small;
    margin: 5% 0;
    color: #335576;
}

.hero__img {
    margin-right: 7%;
    padding: 7% 0 4% 0;
}

.hero__img--position {
   height: 21.875rem;
}

.hero__button {
    background-color: #db7a4e;
    border: #db7a4e;
    color: #fefaf5;
    border-radius: 30px;
    padding: 0.563rem 0;
    width: 28%;
    cursor: pointer;
}
/* Recommendations */

main {
    margin-bottom:  4.375rem;
}

main h2 {
    margin-left: 5%;
    margin-bottom: 1.875rem;
}

.recom {
    display: flex;
    justify-content: space-evenly;
}

.recom__card {
    width: 23%;
    height: 28rem;
    border: 1px solid rgba(0,0,0,0.20);
    border-radius: 5px;
    box-shadow:  0px 4px 4px rgba(0,0,0,0.20);
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    text-decoration: none;
}

.recom :hover {
    opacity: 50%;
} 

.recom__card__hawaii{
    background-position: center;
    background-size: cover;
    background-image: url(../assets/images/hawaii.jpg);
    margin-left: 8%;
}
.recom__card__iceland{
    background-position: center;
    background-size: cover;
    background-image: url(../assets/images/iceland.jpg);
  
}

.recom__card__greece{
    background-position: center;
    background-size: cover;
    background-image: url(../assets/images/greece.jpg);
    margin-right: 8%;
}

.recom h2 {
    color: #fefaf5;
    margin: 1.25rem;
}