/* hero */
.hero {
    background-color: #fefaf5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero__content {
    margin-left: 5%;
    width: 40%;
}

.hero__content h1 {
    margin: 0%;
}

.hero__content p {
    font-size: small;
    margin: 5% 0;
    color: #335576;
}

.hero__img {
    margin-right: 10%;
    padding: 4% 0;
}

.hero__img--position {
   height: 350px;
}

.hero__button {
    background-color: #db7a4e;
    border: #db7a4e;
    color: #fefaf5;
    border-radius: 30px;
    padding: 6px 0;
    width: 28%;
    cursor: pointer;
}
/* Recommendations */

main {
    margin: 70px 0;
}

main h2 {
    margin-left: 5%;
    margin-bottom: 30px;
}

.recom {
    display: flex;
    justify-content: space-evenly;
}

.recom__card {
    width: 23%;
    height: 28rem;
    border: 1px solid rgba(0,0,0,0.20);
    border-radius: 5px;
    box-shadow:  0px 4px 4px rgba(0,0,0,0.20);
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    text-decoration: none;
}

.recom__card__hawaii, .recom__card__hawaii:visited, .recom__card__hawaii:link {
    background-position: center;
    background-size: cover;
    background-image: url(../assets/images/hawaii.jpg);
    margin-left: 8%;
}
.recom__card__iceland, .recom__card__iceland:visited, .recom__card__iceland:link {
    background-position: center;
    background-size: cover;
    background-image: url(../assets/images/iceland.jpg);
  
}

.recom__card__greece, .recom__card__greece:visited, .recom__card__greece:link {
    background-position: center;
    background-size: cover;
    background-image: url(../assets/images/greece.jpg);
    margin-right: 8%;
}

.recom h2 {
    color: #fefaf5;
    margin: 20px 20px;
}

.nav__guide--link, nav__guide--link:visited, nav__guide--link:link {
    text-decoration: none;
    color: black;
    font-size: large;
}
/* footer */
footer {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 40px 8%;
}

footer h2 {
    margin: 0;
}

footer h6 {
    font-weight: 400;
    color: #db7a4e;
    margin-bottom: 0;
}

footer p {
    color: #335576;
    font-weight: 600;
    font-size:small;
}

.footer__hour {
    display: flex;
    justify-content: space-between;
}

.footer__hour__sat {
    margin: auto 30px;
}

.footer__social {
    display: flex;
    justify-content: space-between;
}

.footer__social img {
    height: 30px;
    margin: 40px 35px 0px 0px;
}